---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>About Me? Well my name is Dakota, I was born and have grown up in Michigan, I love making things out of pipe cleaners and overall
working on all sorts of crafts. And I love spending time with my family, friends, and especially my girlfriend.</h1>

<h2>If you need to get in contact with me, my socials and email are listed below. I'm decently busy so give me about
24 hours to respond to a message and I should be able to get back with you. Thank you</h2>

<form action="index.html">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <label for="email">Email</label>
    <input type="text" id="email" name="email"><br><br>
    <div class="userInputBox">
        <label class="alignFormText" for="userInput">Any Questions you have</label>
        <textarea id="userInput" name="userInput" rows="5" cols="25" placeholder="This is the default text"></textarea><br><br>
    </div>
    <input type="submit" value="Submit">
  </form>