---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Welcome to<br><strong>Dakota's Portfolio Website</strong></h1>
<img alt="pine" src="/images/pine.png" width="50" height="50" />

<h2>I'm happy to have you here</h2>
<h3>Using the nav you can find the various projects I've worked on, my personal hobbies and side bsuiness endeavors
as well as more information about me and where to get in touch at</h3>
<h4>Always remember, <strong>"Keep Moving Forward"</strong></h4>