---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Welcome to my projects section. This is a culmination of all the work I've done over the past while
going through my degree program at MSU!</h1>

<h2>Project 1 Example: UI analysis of Sutoh-san</h2>
<img alt="CUTE SNOW LEOPARD" src="/images/Snow Leopard 3.jpg" width="auto" height="auto">
<h2>Project 2 Example: Site Example for last semester web development class</h2>
<h2>Project 3 Example: Prototype R.O.H.-Bot</h2>