<nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/projects/" title="About the boilerplate">Projects</a></li>
      <li><a href="/youtube/" title="About the boilerplate">Youtube</a></li>
      <li><a href="/twitch/" title="About the boilerplate">Twitch</a></li>
      <li><a href="/about/" title="About the boilerplate">About</a></li>
    </ul>
  </nav>