body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
    background-color: rgb(122, 36, 130);
}

nav {
    margin: 40px auto 0 auto;
    width: 800px;
    border-radius: 50px;
    border:solid white 5px;
    background: #000000;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 2.2rem;
    transition: .4s ease-in;
}

a:hover{
    color: rgb(115, 181, 238);
    transition: .4s ease-in;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}

.bigBox{
    width:200px;
    height:100px;
}

.userInputBox{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.alignFormText{
    text-align: center;
    margin-right: 5px;
    align-self: center;
}
